@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
}

#menu{
  font-family: 'Shadows Into Light';
  font-size: 25px;
  position: fixed;  
  width: 100%;
  background-color:#003049;
}

#menu ul{/*editando a listas */
  margin: 0;
  list-style: none; /*tira os marcadores */
}

#menu ul li{
  display: inline;
}

#menu img{/*arrumando icones do menu*/
  padding-left:100px ;
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 5px;
  height: 30px;
  width: 30px;
  
}

#menu a{
  padding-right: 100px;
  color: white;
  text-decoration: none;
  display: inline;
}

#menu ul li a:hover{
  color:#E86300;
}

#inicio{
  background-color:rgba(3, 3, 22, 0.829)!important;
  height: 609px;
  padding-top:30px;
}

#parallax{
  /* The image used */
  background-image: url(image/egratis.jpg);
  /* Set a specific height */
  height: 639px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top:30px;
  text-align: center;

}
#titulo_inicio{
  color: white;
  margin-top:12rem;
 
  
  font-size: 5rem;
  font-family: 'Shadows Into Light';
  align-items: center;
}

#titulo_inicio2{
  color: white;
  margin-top: -3.5rem;
  font-size: 2.5rem;
  font-family: 'Shadows Into Light';
  align-items: center;
}

#botao{
  border: rgba(255, 255, 255, 0.904) solid 0.2rem;
  padding: 0.3rem 1rem 0.2rem 1rem;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  border-radius: 2rem;
  font-family: 'Shadows Into Light';
}

#botao:hover{
  color:#E86300;
  border: #E86300 solid 0.2rem;
  background-color:rgb(12, 3, 85) ;
}

#aula{
  margin-top: -2rem;
  height: auto;/*mudar de acordo com os textos e imagens utilizadas*/
  background-image: linear-gradient(#040c22,#05102e, rgb(37, 59, 78));
  padding-bottom: 0.5rem;
  
}

h1{
  color: white;
  font-family: 'Shadows Into Light';
  text-align: center;
  font-size: 3rem;
  padding-top: 3.5rem;
}
/*mudei testos e escrito*/
#textosesq{
  padding-right: 5rem;
  padding-left: 3rem;
  padding-top: 6rem;
  margin-bottom: 3.5rem;/*ir arrumando com o tamanho do texto e imagem*/
  font-family: arial;
  color: white;
  text-align:justify;
}
#img{
  height: 20rem;/*ir arrumando com o tamanho da imagem*/
  width: 30rem;/*ir arrumando com o tamanho da imagem*/
}
.textosdir{
  padding-top: 5rem;
  margin-left: -3rem;
  margin-right: -4rem;
}
#escritodir{/*ir arrumando com o tamanho do texto e imagem*/
  padding-top: 5rem;
  padding-left: 35rem;
  margin-top: -21.3rem;
}
#escritoesq{/*ir arrumando com o tamanho do texto e imagem*/
  padding-right: 35rem;
  padding-top: 3rem;
  margin-bottom: -3rem;
}

#imgdir{/*ir arrumando com o tamanho do texto e imagem*/
  
  padding-left: 45rem;
  margin-top: -15.3rem;
}
#textosdir{
  padding-right: 5rem;
  padding-left: 5rem;
  margin-bottom: 9rem;/*ir arrumando com o tamanho do texto e imagem*/
  font-family: arial;
  color: white;
  text-align:justify;

}
.escritoe{
  margin-top: -6.5rem;
}
/*mudando aqui o semi titulo kdiku*/
#semi-titulo{
  font-size: larger;
  font-weight: bold;
}

#botaoAulas{
  color: white;
  font-family: 'Shadows Into Light';
  text-align: center;
  padding-top: 3rem; /*mudei*/
  margin-top: -3.5rem;
  font-size: 2rem;
  line-height: 2rem;
}
#botaoAulas a{
  border: rgba(255, 255, 255, 0.904) solid 0.2rem;
  padding: 0.005rem 1rem 0.1rem 1rem;
  text-decoration: none;
  color: white;
  border-radius: 2rem;
}
#botaoAulas a:hover{
  color:#E86300;
  border: #E86300 solid 0.2rem;
  background-color:rgb(12, 3, 85) ;
}

#fundolaranja{
  height: auto;
  background-image: url(image/triangulofundi]o.jpg);
   background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}



#video{
  height: auto;
  background-color: rgba(36, 62, 102,0.92);
  margin-top: -2rem;
  color: white;
  font-family: arial;
  padding-bottom: 2.5rem;

}
#video1{
padding-left: 4rem;
padding-right: 6rem;
}
#texto2video{
  padding-left: 44.7rem;
}
#texto1video{
  padding-left: 11rem;
  margin-bottom: -2.2rem;
}

#Atualizar{
  background-color: rgb(12, 3, 85);
  text-align: center;
  padding-top: 3rem; /*mudei*/
  margin-top: -2rem;
  font-size: 2rem;
  line-height: 2rem;
  padding-bottom: 2rem;
  
}

#mudarbotao{
  background-color: rgba(36, 62, 102,0.92);
  border-color: #E86300;
  color: antiquewhite;
  border-radius: 2rem;
  padding: 0.8rem;
}
#mudarbotao:hover{
  background-color:#E86300;
}


#rodape{
  height: auto;
  padding-bottom: 2.5rem;
  background-color: #003049;
  color: white;
  font-size: 1rem;
  font-family: 'Shadows Into Light';
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  line-height: 0.2rem;
}
#rodape img{
  height: 2rem;
  width:5rem;
}

#aulaextend{
  padding-top: 2rem;
  height: auto;/*mudar de acordo com os textos e imagens utilizadas*/
  background-image: linear-gradient(#040c22,#05102e, rgb(37, 59, 78));
  padding-bottom:2.5rem;
  

}
#aulaextend p{
  padding-right: 4rem;
  padding-left: 4rem;
  color: white;
  font-family: arial;
  text-align: justify;
}

#aulaextend ol{/*lista*/
  padding-right: 6rem;
  padding-left: 4rem;
  color: white;
  
  font-family: arial;
  text-align: justify;
}

#Linkss{
  text-align: center;
  font-family:'Shadows Into Light';
  font-size: 3rem;
  color:white;
}
#botaoaulasex{
  padding-top: 3rem;
}
.b1{
  padding-top: 5rem;
  text-align: left!important;
 padding-left: 4rem;

}
.b2{
text-align: right;
 padding-left: 40rem;
 padding-top: 50rem;
 padding-bottom:5rem;
}
.b3{
  text-align: left!important;
 padding-left: 4rem;
 margin-top: 2rem;

}
.b4{
  text-align: right;
 padding-left: 45rem;


}

#sumario{
  height: auto;
  background-image: url(image/083556937_iconl.jpeg);
  margin-top:-2rem;
  padding-bottom: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#sumario a{
 
  font-family: 'Shadows Into Light';
  color: white;
  font-family: 2rem;
  text-decoration: none;
  animation: 10s linear infinite;
}
#sumario a:hover{
  color:#E86300;
}



